---
import BaseHtml from "@/layout/base-html.astro"
import PrevNextLink from "@/components/ui/prev-next-link.astro"
import { pager, toSlug } from "@/lib/ui/slug"
import { Sprite } from "astro-icon"
import Note from "@/components/ui/note.svelte"

const splitWords = (camelCase: string) => {
  return camelCase.split(/(^[a-z]+)|([A-Z][a-z]+)/).filter(Boolean)
}

export async function getStaticPaths() {
  const modules = import.meta.glob("/data/**/*.json")
  const entries = Object.entries(modules)

  const pages = await Promise.all(
    entries.map(async ([path, importFn], i) => {
      const module = await importFn()

      const curr = toSlug(path)
      const { prev, next } = pager(entries, i)

      const props = { slug: curr, prev, next }
      return {
        params: { slug: curr },
        props: typeof module === "object" ? { ...module, ...props } : props
      }
    })
  )

  return pages
}

interface Props {
  slug: string
  prev: string | null
  next: string | null
  title: string
  id: string
  blocks: Record<string, unknown>[]
}

const { slug, prev, next, blocks, title } = Astro.props

const sections = slug.split("/").slice(0, -1)[0].split("-").reverse()
const sectionTitle = splitWords(sections.at(0)).join(" ")
const sectionNo = sections.at(1)
---

<BaseHtml>
  <div class="root">
    <Sprite.Provider>
      <div class="header">
        <h1 class="heading">
          <span class="section -title">{sectionTitle}</span>
          <span class="title-group">
            {sectionNo && <span class="section">{sectionNo}</span>}
            <span class="title">{title}</span>
          </span>
        </h1>
        <PrevNextLink prev={prev} next={next} />
      </div>
      <div class="blocks">
        <Note blocks={blocks} client:load />
      </div>
      <div class="footer"><PrevNextLink prev={prev} next={next} /></div>
    </Sprite.Provider>
  </div>
</BaseHtml>

<style>
  .root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: -1rem;
    padding: 1rem 1rem 1.5rem;
    background: #eeeeee;
    background-image: linear-gradient(to bottom, #f9f9f9, rgba(255, 255, 255, 0));
  }

  .footer {
    padding: 1.5rem 1rem;
    margin: -1rem;
    background: #eeeeee;
    background-image: linear-gradient(to top, #f9f9f9, rgba(255, 255, 255, 0));
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 500;
  }

  .title-group {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 500;
  }

  .section {
    font-family: var(--num-font);
  }

  .section.-title {
    font-size: 0.5em;
    opacity: 0.8;
  }

  .title {
    font-size: 0.6em;
  }
</style>
