---
import CalloutPhrase from "@/components/notion/callout-phrase.svelte"
import JaToggle from "@/components/notion/ja-toggle.svelte"
import BaseHtml from "@/layout/base-html.astro"
import blocks from "~/data/6-29.json"
import {
  isCallout,
  isHeading2,
  isHeading3,
  isJaToggle,
  isParagraph,
  isQuote,
  isToggle,
  isTable
} from "@/lib/notion/validate-block"
import Paragraph from "@/components/notion/paragraph.svelte"
import Heading2 from "@/components/notion/heading2.svelte"
import TogglePhrase from "@/components/notion/toggle-phrase.svelte"
import Quote from "@/components/notion/quote.svelte"
import Heading3 from "@/components/notion/heading3.svelte"
import Table from "@/components/notion/table.svelte"

/**

console.log(new Set(blocks.map((block) => block.type)))

Set(10) {
  'table_of_contents',
  'divider',
  'callout',
  'toggle',
  'paragraph',
  'heading_2',
  'table',
  'quote',
  'heading_3',
  'bulleted_list_item'
}

*/
---

<BaseHtml>
  <h1>6 - 29</h1>
  <div class="blocks">
    {
      blocks.map((block) => {
        if (isCallout(block)) {
          return <CalloutPhrase content={block.callout} client:visible />
        } else if (isJaToggle(block)) {
          return <JaToggle content={block.toggle.children} />
        } else if (isParagraph(block)) {
          return <Paragraph content={block.paragraph} />
        } else if (isHeading2(block)) {
          return <Heading2 content={block.heading_2} />
        } else if (isToggle(block)) {
          return <TogglePhrase content={block.toggle} client:visible />
        } else if (isQuote(block)) {
          return <Quote content={block.quote} />
        } else if (isHeading3(block)) {
          return <Heading3 content={block.heading_3} />
        } else if (isTable(block)) {
          return <Table content={block.table} client:visible />
        }
      })
    }
  </div>
</BaseHtml>

<style>
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
  }
</style>
